@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background: black;
}
header {
    display: flexbox;
    text-align: center;
    font-size: 9pt;
    font-family: "Permanent Marker", cursive;
}
.li_aeronaves {
    list-style-type: none;
    margin: 20px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    width: 300px;
    height: auto;
}
.li_aeronaves h1 {
    text-align: center;
}