@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}
.hidden {
    display: none;
}
body {
    color: white;
    background: black;
}
form {
    position: absolute;
    top: auto;
    left: 43.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: black;
    width: 170px;
    height: 90px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}
header {
    display: flexbox;
    text-align: center;
    font-size: 9pt;
    font-family: "Permanent Marker", cursive;
}
.li_aeronaves {
    list-style-type: none;
    margin: 20px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
    width: 300px;
    height: auto;
}
.li_aeronaves div.texto h1 {
    text-align: center;
    padding-top: 5px;
}
.li_aeronaves div.texto p {
    line-height: 2em;
    font-size: 1.2em;
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.li_aeronaves div.texto p button {
    background-color: black;
    cursor: pointer;
}
.li_aeronaves div.img img {
    border-radius: 10px;
}